:root {
  --primary: #a81662;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
